{% comment %}
    Displays a list of services from a document's front matter
{% endcomment %}

{% if page.services %}
<section class="services">
    <div class="container pure-g">
        {% for item in page.services %}
        <div class="pure-u-1 pure-u-md-1-{{ forloop.length }}">
              <div class="service">
                  <div class="service-icon"><img src="{{ item.icon | absolute_url }}" alt=""></div>
                  <h2>{{ item.heading }}</h2>
                  <p>{{ item.description }}</p>
              </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}

<section class="articles-preview">
    <div class="article">
        <div class="article-cover">
            <span>Сетчатые сварные панели</span>
            <img src="https://picsum.photos/1024/500?1">
        </div>
        <p>
            Небольшой, но интересный текст про этот раздел — кто-то его прочитает, а кто-то просто посмотрит на
            картинку с заголовком — и жмякнет по ним — и как хорошо, что это тоже ссылка :)
        </p>
        <a href="inner.html" class="button">Подробнее</a>
    </div>
    <div class="article">
        <div class="article-cover">
            <span>Лотки для кабельной продукции</span>
            <img src="https://picsum.photos/1024/500?2">
        </div>
        <p>
            Небольшой, но интересный текст про этот раздел — кто-то его прочитает, а кто-то просто посмотрит на
            картинку с заголовком — и жмякнет по ним — и как хорошо, что это тоже ссылка :)
        </p>
        <a href="inner.html" class="button">Подробнее</a>
    </div>
    <div class="article">
        <div class="article-cover">
            <span>Системы видеонаблюдения</span>
            <img src="https://picsum.photos/1024/500?3">
        </div>
        <p>
            Небольшой, но интересный текст про этот раздел — кто-то его прочитает, а кто-то просто посмотрит на
            картинку с заголовком — и жмякнет по ним — и как хорошо, что это тоже ссылка :)
        </p>
        <a href="inner.html" class="button">Подробнее</a>
    </div>
    <div class="article">
        <div class="article-cover">
            <span>Противотаранное устройство</span>
            <img src="https://picsum.photos/1024/500?4">
        </div>
        <p>
            Небольшой, но интересный текст про этот раздел — кто-то его прочитает, а кто-то просто посмотрит на
            картинку с заголовком — и жмякнет по ним — и как хорошо, что это тоже ссылка :)
        </p>
        <a href="inner.html" class="button">Подробнее</a>
    </div>
</section>
