---
layout: default
---
{% comment %}
    A general page layout. Used by default for all content on the site.
{% endcomment %}



<div class="container pure-g" style="display: none">
    <div class="pure-u-1">
        <div class="content content-narrow">

        </div>
    </div>
</div>

<main>
    {% include breadcrumbs.html class="content-narrow" %}
    <h1>{{ page.heading | default: page.title }}</h1>
    {% if page.sub_heading and page.sub_heading != "" %}
    <h2>{{ page.sub_heading }}</h2>
    {% endif %}
    {{ content }}
</main>